@import url("./markdown.css");

:root {
  --color-bg: #f0f0f0;
  --color-text: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #121212;
    --color-text: #f0f0f0;
  }
}

@font-face {
  font-family: "Zodiak";
  src: url("../fonts/Zodiak-Bold.woff2") format("woff2"),
    url("../fonts/Zodiak-Bold.woff") format("woff"),
    url("../fonts/Zodiak-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

html {
  background-color: var(--color-bg);
}

body {
  color: var(--color-text);
  margin: 0 auto;
  width: 70%;
  height: 100%;
  line-height: 1.6;
  padding: 4rem 1rem;
}

a {
  text-decoration: none;
  border-bottom: 2px solid;
  color: var(--color-text);
}

a:hover {
  border: none;
}

#article > p:nth-of-type(1):first-letter {
  font-size: 350%;
  float: left;
  font-family: "Zodiak";
  padding: 5px;
  margin-right: 5px;
}

#posts {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

#posts li a {
  font-size: 1.3em;
  display: inline-block;
  font-family: "Zodiak";
  border-bottom: 1px solid;
  font-weight: 700;
  color: var(--color-text);
  line-height: 1.2;
}

#posts li a:hover {
  border: none;
}

#posts li span {
  margin-top: 5px;
  display: block;
}

#posts li {
  margin-bottom: 20px;
}

#metadata {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

footer {
  margin-top: 30px;
  padding-top: 15px;
  text-align: center;
}

#rightside {
  margin-left: 300px; /* match width of sidebar */
}

#sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

#sidebar img {
  border-radius: 100%;
  border-color: var(--color-text);
  border-width: 5px;
  border-style: solid;
  width: 256px;
  height: 256px;
}

#projects-grid {
  margin-bottom: 1.4em;
}

#sidebar #title {
  width: 256px;
  font-family: Zodiak, "Zodiak-Bold", Liberation Serif, Apple Garamond,
    Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  text-align: center;
  color: var(--color-text);
  margin: 15px 0;
  padding: 0;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1.2;
}

#sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-image: none;
}

#sidebar li {
  display: flex;
  margin-bottom: 2px;
}

#sidebar li svg {
  margin-right: 5px;
}

@media screen and (max-width: 980px) {
  body {
    width: 80%;
    padding: 3rem 0.75rem;
  }

  aside {
    display: none;
  }

  #rightside {
    margin: 0;
  }
}

@media screen and (max-width: 640px) {
  body {
    width: 90%;
    padding: 1rem 0.5rem;
  }

  h1 {
    display: block;
  }

  #metadata {
    gap: 15px;
    flex-direction: column;
  }

  #github svg {
    display: none;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.card {
  border: 1px solid var(--color-text);
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.card * {
  margin: 0;
  padding: 0;
}

.card p:first-of-type {
  font-size: 1.3em;
  font-family: "Zodiak";
  font-weight: 700;
}

.mt-0 { margin-top: 0; }
.mb-0 { margin-bottom: 0; }

#github {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  gap: 10px;
}

#github p {
  margin: 0;
  font-family: Zodiak, "Zodiak-Bold", Liberation Serif, Apple Garamond,
    Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

#github svg {
  width: 30px;
  height: 30px;
}

a.no-style {
  text-decoration: none;
  border: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border: 1px solid var(--color-text);
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Zodiak";
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-text);
  color: var(--color-bg);
}

#posts header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#index {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#title {
  margin: 0;
}
