@import url('./markdown.css');

body {
  transition: background-color 0.5s;
}

:root {
  --color-bg: #f0f0f0;
  --color-text: rgba(18, 18, 18);
  --color-text-hover: rgba(18, 18, 18, 0.8);
  --color-gray: #e6e6e6;
}

@font-face {
  font-family: 'Zodiak-Bold';
  src: url('../fonts/Zodiak-Bold.woff2') format('woff2'),
       url('../fonts/Zodiak-Bold.woff') format('woff'),
       url('../fonts/Zodiak-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0 auto;
  width: 45%;
  height: 100%;
  line-height: 1.6;
  padding: 4rem 1rem;
}

a {
  text-decoration: none;
  border-bottom: 2px solid;
  color: var(--color-text);
}

a:hover {
  border: none;
}

#article > p:nth-of-type(1):first-letter {
  font-size: 350%;
  float: left;
  font-family: 'Zodiak';
  padding: 5px;
  margin-right: 5px;
}

#posts {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

#posts li a {
  font-size: 1.3em;
  display: inline-block;
  font-family: 'Zodiak';
  border-bottom: 1px solid;
  font-weight: 700;
  color: var(--color-text);
  line-height: 1.2;
}

#posts li a:hover {
  border: none;
}

#posts li span {
  margin-top: 5px;
  display: block;
}

#posts li {
  margin-bottom: 20px;
}

#metadata {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

footer {
  margin-top: 30px;
  padding-top: 15px;
  text-align: center;
}
