/*# Variables */
:root {
  /** Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2x: 1536px;

  /** Font Families */
  --font-serif: "Nocturno Display Std", "Iowan Old Style", "Apple Garamond", Baskerville, "Times New Roman", "Droid Serif", Times, "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Segoe UI", "Helvetica Neue", Helvetica, Cantarell, Ubuntu, "Noto Sans", Roboto, "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-monospace: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;

  /** Breakpoint Properties */

  /** Colors */
  --color-red: #ffadad;
  --color-orange: #ffd6a5;
  --color-yellow: #fdffb6;
  --color-green: #caffbf;
  --color-light-blue: #9bd6ff;
  --color-blue: #a0c4ff;
  --color-purple: #bdb2ff;
  --color-pink: #ffc6ff;

  --color-white: #ffffff;
  --color-black: #1e1e1e;
  --color-gray: #4c4c4c;
}

/*# Containers */
html {
  font-family: var(--font-sans);
  font-size: 18px;
  color: var(--color-black);
}

body {
  padding-left: 10rem;
  max-width: 50%;
  margin: 0;
}

/*# Headers */
h1, h2, h3, h4 {
  font-family: var(--font-serif);
  border-bottom-style: solid;
  border-bottom-width: 8px;
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 3em;
  border-bottom-color: var(--color-red);
  padding-top: 1rem;
}

h2 {
  font-size: 2em;
}

#posts h2 { border-bottom-color: var(--color-green) }
#contact h2 { border-bottom-color: var(--color-orange) }

/*# Lists */
ul {
  color: var(--color-black);
  list-style-type: none;
  font-size: large;
}

ul:not(#footer-links) li {
  font-weight: 600;
}

ul#footer-links li {
  font-size: 14px;
  margin-bottom: 5px;
}

ul li:before {
  color: var(--color-black);
  content: '\2014';
  position: absolute;
  margin-left: -20px;
}

ul:not(#footer-links) li:nth-child(even) {
  font-weight: 300;
  margin-top: 5px;
  font-size: 17px;
  margin-bottom: 15px;
  color: var(--color-black);
  font-style: italic;
}

ul:not(#footer-links) li:nth-child(even)::before {
  content: '';
}

/*# Links */
a {
  color: var(--color-blue);
  text-decoration: underline;
}

a:hover, a:focus {
  color: var(--color-blue);
  text-decoration: none;
  cursor: pointer;
}

/*# Footer */
footer {
  display: flex;
  font-family: var(--font-monospace);
  font-style: italic;
  gap: 40%;
  font-weight: 500;
  margin-top: 48px;
  font-size: 14px;
  border-top: .5rem solid var(--color-black);
}

footer.left ul > li {
  font-size: 1px !important;
}

footer.left ul li:before {
  padding-left: 0;
}

footer > .right {
  text-align: right;
}

/*# Posts */
#post-data {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

#post-data

article > p:first::first-letter {
  font-size: 150rem;
}

/*# Forms */
input, textarea {
  font-family: var(--font-monospace);
  border-color: var(--color-black);
  border-radius: 0px;
  border-width: 1.5px;
  padding: 8px;
  margin: 8px;
  font-size: 14px;
  outline: none;
  resize: none;
}

input::placeholder, input::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: var(--font-monospace);
  font-style: italic;
  color: var(--color-gray);
  opacity: 1; /* Firefox */
}

#submit {
  background-color: var(--color-orange);
  color: var(--color-black);
  padding: 8px;
  margin: 8px;
  border: none;
}

/*# Grid */
.grid {
  display: grid;
  gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  grid-auto-columns: auto;
}

.grid > * {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}
