<footer>
  <section class="left">
    <ul id="footer-links">
      <li>
        <a href="/sitemap.xml">sitemap</a>
      </li>
      <li>
        <a href="mailto:abuse@lukewhritenour.me">abuse</a>
      </li>
      <li>
        <a href="/privacy.pdf">privacy</a>
      </li>
    </ul>
  </section>
  <section class="right">
    <p>
      the source code of this website is available on
      <a href="https://github.com/lukewhrit/lukewhritenour.me" rel="noopener noreferrer">github.com</a>.
      additionally, all text content on this website is available to the public domain under the
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="noopener noreferrer">CC BY-NC-SA 4.0</a>.
    </p>
  </section>
</footer>
