<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="title" content="Luke Whritenour">
  <meta name="description" content="Hi, I'm the self taught software engineer behind Spacebin, Redeyes, and more projects! This is my blog">

  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐶</text></svg>">

  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/global.css" />

  <script defer src="https://umami.lwhr.xyz/script.js" data-website-id="35a71211-5f62-4b78-96cc-c3d8600b4989"></script>

  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
  {{ end }}


  {{ $title := print .Site.Title " - " .Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>
</head>
