{{ define "main" }}
  <article>
    {{.Content}}
    <section id="posts">
      <h2>Blog Posts</h2>
      <ul id="posts">
        {{ range (where .Site.Pages "Section" "posts") }}
        {{ range .Pages }}
          {{ $dateTime := .PublishDate.Format "2006-01-02" }}
          {{ $dateFormat := .Site.Params.dateFormat | default "January 2, 2006" }}
          <li>
            <a href="{{.Permalink}}">{{.Title}}</a>
            <span>
              Posted on
              <time dateTime="{{ $dateTime }}">
                {{ .Date.Format "January 2" }}{{ if in (slice 1 21 31) .Date.Day}}st{{ else if in (slice 2 22) .Date.Day}}nd{{ else if in (slice 3 23) .Date.Day}}rd{{ else }}th{{ end }},
                {{ .Date.Format "2006" }}</time>
              by {{ .Site.Author.name }}
            </span>
          </li>
        {{ end }}
        {{ end }}
        </ul>
      </section>
  </article>
{{ end }}
