{{ define "main" }}
<article>
  {{.Content}}
  <section id="projects">
    <h2>Projects</h2>
    <div id="projects-grid" class="grid">
      <div id="spacebin" class="card">
        <p><a href="https://github.com/lukewhrit/spacebin">Spacebin</a></p>
        <p>Developed a reliable, modern Pastebin server in Go, supporting syntax highlighting, reader
          more,
          and more.
          Handles 10,000+ monthly users.</p>
      </div>
      <div id="orca" class="card">
        <p><a href="https://github.com/orca-group">Orca Pages</a></p>
        <p>Built a CDN and JAMstack hosting platform for open source projects and nonprofits using Elixir,
          complete with
          anycast DNS and integrated CMS.</p>
      </div>
      <div id="redeyes" class="card">
        <p><a href="https://github.com/lukewhrit/redeyes">Redeyes</a></p>
        <p>Simple and compact URL shortener using Python, Flask, and PostgreSQL that is self-hostable via
          Docker.</p>
      </div>
      <div id="eve" class="card">
        <p><a href="https://github.com/baseddevelopment/eve">Eve</a></p>
        <p>Assisted in the development of a management toolkit and dashboard for libvirt-based
          virtualization servers.
        </p>
      </div>
    </div>
  </section>
  <section id="posts">
    <h2>Blog Posts</h2>
    <ul id="posts">
      {{ range (where .Site.Pages "Section" "posts") }}
      {{ range .Pages }}
      {{ $dateTime := .PublishDate.Format "2006-01-02" }}
      {{ $dateFormat := .Site.Params.dateFormat | default "January 2, 2006" }}
      <li>
        <a href="{{.Permalink}}">{{.Title}}</a>
        <span>
          Posted on
          <time dateTime="{{ $dateTime }}">
            {{ .Date.Format "January 2" }}{{ if in (slice 1 21 31) .Date.Day}}st{{ else if in (slice 2 22)
            .Date.Day}}nd{{ else if in (slice 3 23) .Date.Day}}rd{{ else }}th{{ end }},
            {{ .Date.Format "2006" }}</time>
          by {{ .Site.Params.Author.name }}
        </span>
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </section>
</article>
{{ end }}
